<!-- ACCOUNT SETTINGS -->
<section id="update-account" class="hidden">
  <div class="container">
    <div class="back-toggle"></div>
    <!-- CREATE -->
    <div class="login-create-wrapper">
      <h1>Update Profile</h1>
      <div class="login-comp">
        <div class="form-wrapper">
          <input type="text" placeholder="YourEmail@Example.com" />
          <input type="text" placeholder="Enter Password &#42;" />
          <input type="text" placeholder="Confirm Password &#42;" />
          <input type="text" placeholder="First Name &#42;" />
          <input type="text" placeholder="Last Name &#42;" />
          <input type="text" placeholder="ZIP/Postal Code &#42;" />
        </div>
        <button
          type="submit"
          value="Update Profile"
          class="cta-btn confirm-create"
        >
          Update Profile
        </button>
        <button
          type="submit"
          value="Sign Out"
          class="cta-btn _white main-create"
        >
          Sign Out
        </button>
      </div>
    </div>
  </div>
</section>
