<!-- DISCOVERY HOME -->
<section id="discovery-home" class="hidden">
  <div class="row _hero">
    <div class="container">
      <div class="settings-toggle"></div>
      <div class="hero _woods"><h1>Start New Discovery</h1></div>
    </div>
  </div>
  <div class="row">
    <div class="container">
      <h3>Select a category to begin discovery</h3>
      <div class="block-grid">
        <ul>
          <li>
            <img src="images/tents.svg" border="0" alt="tents" />
            <p>Tents</p>
          </li>
          <li>
            <img src="images/clothes.svg" border="0" alt="tents" />
            <p>Jackets</p>
          </li>
          <li>
            <img src="images/shoes.svg" border="0" alt="tents" />
            <p>Footwear</p>
          </li>
          <li>
            <img src="images/bikes.svg" border="0" alt="tents" />
            <p>Bikes</p>
          </li>
          <li>
            <img src="images/climbing.svg" border="0" alt="tents" />
            <p>Climbing</p>
          </li>

          <li>
            <img src="images/water.svg" border="0" alt="tents" />
            <p>Kayaks</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
