<!-- CREATE ACCOUNT -->
<section id="create-account" class="hidden">
  <div class="container">
    <!-- CREATE -->
    <div class="login-create-wrapper">
      <h1>Create Account</h1>
      <div class="login-comp">
        <div class="form-wrapper">
          <input type="text" placeholder="Email &#42;" />
          <input type="text" placeholder="Password &#42;" />
          <input type="text" placeholder="Retype Password &#42;" />
          <input type="text" placeholder="First Name &#42;" />
          <input type="text" placeholder="Last Name &#42;" />
          <input type="text" placeholder="ZIP/Postal Code &#42;" />
        </div>
        <small>* required</small>
        <button
          type="submit"
          value="Create account"
          class="cta-btn confirm-create"
        >
          Create account
        </button>
      </div>
    </div>
  </div>
</section>
