<!-- ITEM DISCOVERY -->
<section id="item-discovery" class="hidden">
  <div class="row _banner">
    <div class="container">
      <div class="back-toggle _light"></div>
      <h3>Category Name</h3>
    </div>
  </div>
  <div class="row" id="question-view">
    <div class="container">
      <h3>Answer questions to find your next piece of gear</h3>
      <div class="progress-bar">
        <div class="prog-start"></div>
        <div class="prog-marker"><div class="marker"></div></div>
        <div class="prog-end"></div>
      </div>

      <div id="question-wrapper">
        <div class="card-wrapper">
          <div class="card">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit?
          </div>
          <div class="card hidden">
            Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua?
          </div>
          <div class="card hidden">Ut enim ad minim veniam?</div>
          <div class="card hidden">quis nostrud exercitation ullamco?</div>
          <div class="card hidden">
            laboris nisi ut aliquip ex ea commodo consequat?
          </div>
        </div>
        <div class="control-wrapper">
          <div class="question-control cta-btn _yes">Yes</div>
          <div class="question-control cta-btn _no">No</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row hidden" id="answer-view">
    <div class="container">
      <h3>Here's what we found!</h3>
      <div id="answer-wrapper">
        <div class="card-wrapper">
          <div class="final-card">
            <h5>Patagonia Fitz Roy Bison Trucker Hat</h5>
            <img src="images/hat.jpg" alt="Item Name" />
          </div>
        </div>
        <div class="control-wrapper">
          <div class="cta-btn _yes">Buy Now</div>
          <div class="cta-btn _white _no">Start Over</div>
        </div>
      </div>
    </div>
  </div>
</section>
