<!-- LANDING PAGE -->
<section id="landing">
  <div class="container">
    <!-- LOGO -->
    <div class="logo-wrapper">
      <div class="compass-logo">
        <div class="compass-body"></div>
        <div class="compass-face animate"></div>
        <div class="compass-dial animate _reverse"></div>
        <div class="compass-title"></div>
      </div>
    </div>

    <!-- LOGIN / CREATE -->
    <div class="login-create-wrapper">
      <h1>Sign in to Your Account</h1>
      <div class="login-comp">
        <div class="form-wrapper">
          <input type="text" placeholder="Email &#42;" />
          <input type="text" placeholder="Password &#42;" />
        </div>
        <small>* required</small>
        <button type="submit" value="Sign In" class="cta-btn main-signin">
          Sign in
        </button>
      </div>
      <div class="create-comp">
        <button
          type="submit"
          value="Sign In"
          class="cta-btn _white main-create"
        >
          Create account
        </button>
      </div>
    </div>
  </div>
</section>
