html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

body {
  border: 0;
  margin: 0;
  padding: 0;
  font: 16px/26px "Trebuchet MS", Helvetica, sans-serif;
  background: #222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0.6em 0;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: underline;
}

@mixin full-auto {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

@mixin flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#root {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

section {
  position: absolute;
  @include full-auto;
  min-height: 100vh;
  background: url("../images/tile.jpg");
}

.row {
  @include full-auto;
  display: block;
}

.container {
  position: relative;
  width: 100%;
  max-width: 480px;
  height: auto;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  display: block;
  text-align: center;
}

$beige: #efeee2;
$blue: #347cb1;
$black: #000000;
$dkgreen: #004e00;
$ltgreen: #a1c900;
$dkgrey: #222222;
$ltgrey: #555555;
$white: #ffffff;

@import "components/_components.scss";

.cta-btn {
  width: calc(100% - 40px);
  background-color: $blue;
  color: $white;
  font-size: 18px;
  border: 0;
  padding: 10px 15px;
  margin-top: 20px;
  text-decoration: none;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  cursor: pointer;

  &._hollow {
    background-color: transparent;
    border: 2px solid $blue;
  }
  &._white {
    color: $dkgrey;
    background-color: $white;
    border: 1px solid $dkgrey;
  }
}

.pad-lr-20 {
  padding-right: 20px;
  padding-left: 20px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 200px) {
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 960px) {
}

@media only screen and (min-width: 1200px) {
}

/* ==========================================================================
   Fonts
   ========================================================================== */

@font-face {
  font-family: CustomFont;
  src: url("") format("woff"), url("") format("truetype");
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
