html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

body {
  border: 0;
  margin: 0;
  padding: 0;
  font: 16px/26px "Trebuchet MS", Helvetica, sans-serif;
  background: #222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0.6em 0;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: underline;
}

#root {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

section {
  position: absolute;
  width: 100%;
  height: auto;
  margin: 0 auto;
  min-height: 100vh;
  background: url("../images/tile.jpg");
}

.row {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.container {
  position: relative;
  width: 100%;
  max-width: 480px;
  height: auto;
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  text-align: center;
}

.compass-logo {
  position: relative;
  width: calc(100%);
}

.compass-logo > .compass-body {
  position: absolute;
  width: calc(100%);
  height: calc(100%);
  background: url("../images/compass-body.svg") no-repeat center center;
  background-size: contain;
}

.compass-logo > .compass-face {
  position: absolute;
  bottom: 7%;
  left: 11.5%;
  width: 77%;
  height: 77%;
  background: url("../images/compass-face.svg") no-repeat center center;
  background-size: contain;
}

.compass-logo > .compass-dial {
  position: absolute;
  top: 29%;
  left: 25%;
  width: 52%;
  height: 52%;
  background: url("../images/compass-dial.svg") no-repeat center center;
  background-size: contain;
}

.compass-logo > .compass-title {
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  height: 17%;
  background: #222222 url("../images/title.svg") no-repeat center center;
  background-size: contain;
}

.compass-logo > .animate {
  -webkit-animation: dial 6s linear infinite;
  animation: dial 6s linear infinite;
}

.compass-logo > .animate._reverse {
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

@-webkit-keyframes dial {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-210deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes dial {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.form-wrapper {
  width: 100%;
  height: auto;
  background: #ffffff;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.form-wrapper input[type="text"] {
  width: calc(100% - 40px);
  height: auto;
  padding: 15px 20px;
  font-size: 18px;
  background: #ffffff;
  border: 0;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.form-wrapper input[type="text"]:last-child {
  border: 0;
}

#landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#landing .logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background: url("../images/woods-dk.svg") center center no-repeat;
  background-size: contain;
}

#landing .logo-wrapper > .compass-logo {
  max-width: 200px;
  height: 200px;
}

/* HERO */
.row._hero {
  color: #efeee2;
  background: url("../images/tile-black.jpg");
}

.hero {
  min-height: 200px;
  text-align: center;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.hero._woods {
  background: url("../images/woods.svg") center center no-repeat;
  background-size: contain;
}

.hero h1 {
  margin: 0;
  padding: 0;
  font-size: 3em;
  line-height: 1.1;
}

/* NAVIGATION */
.settings-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background: url("../images/settings.svg") center center no-repeat;
  background-size: contain;
  cursor: pointer;
}

.close-toggle {
  position: absolute;
  top: 22px;
  right: 20px;
  width: 20px;
  height: 20px;
  background: url("../images/close.svg") center center no-repeat;
  background-size: contain;
  cursor: pointer;
}

.back-toggle {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 25px;
  height: 25px;
  background: url("../images/back.svg") center center no-repeat;
  background-size: contain;
  cursor: pointer;
}

.back-toggle._light {
  background: url("../images/back_lt.svg") center center no-repeat;
  background-size: contain;
}

/* COMPONENTS */
#create-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.login-create-wrapper {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.login-create-wrapper > .login-comp {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.login-create-wrapper > .create-comp {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.row._banner {
  height: 65px;
  color: #efeee2;
  background: url("../images/tile-blue.jpg");
}

.row._banner h3 {
  margin: 0;
  padding: 18px;
  font-size: 1.6em;
  line-height: 1.1;
}

.block-grid ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.block-grid ul li {
  width: calc(50% - 2px);
  height: 200px;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
}

.block-grid ul li img {
  width: 100%;
  max-width: 120px;
  height: 120px;
}

.block-grid ul li p {
  margin: 0 auto;
  padding: 10px 0 0 0;
  font-size: 22px;
  font-weight: bold;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.block-grid ul li:nth-child(even) {
  border-left: 1px solid #ccc;
}

.progress-bar {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.progress-bar > .prog-start {
  width: 50px;
  height: 50px;
  background: url("../images/tent.svg") no-repeat center center;
  background-size: contain;
}

.progress-bar > .prog-marker {
  width: 100%;
  overflow: hidden;
}

.progress-bar > .prog-marker > .marker {
  width: 0;
  height: 4px;
  background: #347cb1;
  border-radius: 5px;
  -webkit-transition: width 600ms ease-out;
  transition: width 600ms ease-out;
}

.progress-bar > .prog-end {
  width: 50px;
  height: 50px;
  background: url("../images/target.svg") no-repeat center center;
  background-size: contain;
}

#question-wrapper,
#answer-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 0 20px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#question-wrapper > .card-wrapper,
#answer-wrapper > .card-wrapper {
  position: relative;
  width: 100%;
  height: 350px;
  margin: 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#question-wrapper > .card-wrapper > .card,
#question-wrapper > .card-wrapper .final-card,
#answer-wrapper > .card-wrapper > .card,
#answer-wrapper > .card-wrapper .final-card {
  position: absolute;
  width: 99%;
  height: 320px;
  margin: 10px auto;
  padding: 20px;
  font-size: 2em;
  line-height: 1.1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  -webkit-box-shadow: 0 0.2rem 0.3rem 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.2rem 0.3rem 0 rgba(0, 0, 0, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #ffffff url("../images/compass-card.svg") no-repeat center center;
  background-size: contain;
}

#question-wrapper > .card-wrapper > .card img,
#question-wrapper > .card-wrapper .final-card img,
#answer-wrapper > .card-wrapper > .card img,
#answer-wrapper > .card-wrapper .final-card img {
  width: 100%;
  max-width: 250px;
  height: auto;
}

#question-wrapper > .card-wrapper .final-card,
#answer-wrapper > .card-wrapper .final-card {
  background: #ffffff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#question-wrapper > .control-wrapper,
#answer-wrapper > .control-wrapper {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#question-wrapper > .control-wrapper > .cta-btn,
#answer-wrapper > .control-wrapper > .cta-btn {
  margin: 10px;
  border-radius: 5px;
}

/* MOVE FROM / TO  */
.moveToLeft {
  -webkit-animation: moveToLeft 0.6s ease both;
  animation: moveToLeft 0.6s ease both;
}

.moveFromLeft {
  -webkit-animation: moveFromLeft 0.6s ease both;
  animation: moveFromLeft 0.6s ease both;
}

.moveToRight {
  -webkit-animation: moveToRight 0.6s ease both;
  animation: moveToRight 0.6s ease both;
}

.moveFromRight {
  -webkit-animation: moveFromRight 0.6s ease both;
  animation: moveFromRight 0.6s ease both;
}

.moveToTop {
  -webkit-animation: moveToTop 0.6s ease both;
  animation: moveToTop 0.6s ease both;
}

.moveFromTop {
  -webkit-animation: moveFromTop 0.6s ease both;
  animation: moveFromTop 0.6s ease both;
}

.moveToBottom {
  -webkit-animation: moveToBottom 0.6s ease both;
  animation: moveToBottom 0.6s ease both;
}

.moveFromBottom {
  -webkit-animation: moveFromBottom 0.6s ease both;
  animation: moveFromBottom 0.6s ease both;
}

/* FADE */
.fade {
  -webkit-animation: fade 0.6s ease both;
  animation: fade 0.6s ease both;
}

/* MOVE FROM / TO AND FADE */
.moveToLeftFade {
  -webkit-animation: moveToLeftFade 0.6s ease both;
  animation: moveToLeftFade 0.6s ease both;
}

.moveFromLeftFade {
  -webkit-animation: moveFromLeftFade 0.6s ease both;
  animation: moveFromLeftFade 0.6s ease both;
}

.moveToRightFade {
  -webkit-animation: moveToRightFade 0.6s ease both;
  animation: moveToRightFade 0.6s ease both;
}

.moveFromRightFade {
  -webkit-animation: moveFromRightFade 0.6s ease both;
  animation: moveFromRightFade 0.6s ease both;
}

.moveToTopFade {
  -webkit-animation: moveToTopFade 0.6s ease both;
  animation: moveToTopFade 0.6s ease both;
}

.moveFromTopFade {
  -webkit-animation: moveFromTopFade 0.6s ease both;
  animation: moveFromTopFade 0.6s ease both;
}

.moveToBottomFade {
  -webkit-animation: moveToBottomFade 0.6s ease both;
  animation: moveToBottomFade 0.6s ease both;
}

.moveFromBottomFade {
  -webkit-animation: moveFromBottomFade 0.6s ease both;
  animation: moveFromBottomFade 0.6s ease both;
}

/* MOVE TO WITH DIFFERENT EASING */
.moveToLeftEasing {
  -webkit-animation: moveToLeft 0.6s ease-in-out both;
  animation: moveToLeft 0.6s ease-in-out both;
}

.moveToRightEasing {
  -webkit-animation: moveToRight 0.6s ease-in-out both;
  animation: moveToRight 0.6s ease-in-out both;
}

.moveToTopEasing {
  -webkit-animation: moveToTop 0.6s ease-in-out both;
  animation: moveToTop 0.6s ease-in-out both;
}

.moveToBottomEasing {
  -webkit-animation: moveToBottom 0.6s ease-in-out both;
  animation: moveToBottom 0.6s ease-in-out both;
}

/* SCALE AND FADE */
.scaleDown {
  -webkit-animation: scaleDown 0.6s ease both;
  animation: scaleDown 0.6s ease both;
}

.scaleUp {
  -webkit-animation: scaleUp 0.6s ease both;
  animation: scaleUp 0.6s ease both;
}

.scaleUpDown {
  -webkit-animation: scaleUpDown 0.5s ease both;
  animation: scaleUpDown 0.5s ease both;
}

.scaleDownUp {
  -webkit-animation: scaleDownUp 0.5s ease both;
  animation: scaleDownUp 0.5s ease both;
}

.scaleDownCenter {
  -webkit-animation: scaleDownCenter 0.4s ease-in both;
  animation: scaleDownCenter 0.4s ease-in both;
}

.scaleUpCenter {
  -webkit-animation: scaleUpCenter 0.4s ease-out both;
  animation: scaleUpCenter 0.4s ease-out both;
}

/* ANIMATION DELAY CLASSES */
.delay100 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.delay180 {
  -webkit-animation-delay: 0.18s;
  animation-delay: 0.18s;
}

.delay200 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.delay300 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.delay400 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.delay500 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.delay700 {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.delay1000 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

/* ==========================================================================
     KEY FRAMES
     ========================================================================== */
/* MOVE FROM / TO  */
@-webkit-keyframes moveToLeft {
  from {
  }
  to {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes moveToLeft {
  from {
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@-webkit-keyframes moveFromLeft {
  from {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes moveFromLeft {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@-webkit-keyframes moveToRight {
  from {
  }
  to {
    -webkit-transform: translateX(100%);
  }
}

@keyframes moveToRight {
  from {
  }
  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@-webkit-keyframes moveFromRight {
  from {
    -webkit-transform: translateX(100%);
  }
}

@keyframes moveFromRight {
  from {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@-webkit-keyframes moveToTop {
  from {
  }
  to {
    -webkit-transform: translateY(-100%);
  }
}

@keyframes moveToTop {
  from {
  }
  to {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@-webkit-keyframes moveFromTop {
  from {
    -webkit-transform: translateY(-100%);
  }
}

@keyframes moveFromTop {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@-webkit-keyframes moveToBottom {
  from {
  }
  to {
    -webkit-transform: translateY(100%);
  }
}

@keyframes moveToBottom {
  from {
  }
  to {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}

@-webkit-keyframes moveFromBottom {
  from {
    -webkit-transform: translateY(100%);
  }
}

@keyframes moveFromBottom {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}

/* FADE */
@-webkit-keyframes fade {
  from {
  }
  to {
    opacity: 0.3;
  }
}

@keyframes fade {
  from {
  }
  to {
    opacity: 0.3;
  }
}

/* MOVE FROM / TO AND FADE */
@-webkit-keyframes moveToLeftFade {
  from {
  }
  to {
    opacity: 0.3;
    -webkit-transform: translateX(-100%);
  }
}

@keyframes moveToLeftFade {
  from {
  }
  to {
    opacity: 0.3;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@-webkit-keyframes moveFromLeftFade {
  from {
    opacity: 0.3;
    -webkit-transform: translateX(-100%);
  }
}

@keyframes moveFromLeftFade {
  from {
    opacity: 0.3;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@-webkit-keyframes moveToRightFade {
  from {
  }
  to {
    opacity: 0.3;
    -webkit-transform: translateX(100%);
  }
}

@keyframes moveToRightFade {
  from {
  }
  to {
    opacity: 0.3;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@-webkit-keyframes moveFromRightFade {
  from {
    opacity: 0.3;
    -webkit-transform: translateX(100%);
  }
}

@keyframes moveFromRightFade {
  from {
    opacity: 0.3;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@-webkit-keyframes moveToTopFade {
  from {
  }
  to {
    opacity: 0.3;
    -webkit-transform: translateY(-100%);
  }
}

@keyframes moveToTopFade {
  from {
  }
  to {
    opacity: 0.3;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@-webkit-keyframes moveFromTopFade {
  from {
    opacity: 0.3;
    -webkit-transform: translateY(-100%);
  }
}

@keyframes moveFromTopFade {
  from {
    opacity: 0.3;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@-webkit-keyframes moveToBottomFade {
  from {
  }
  to {
    opacity: 0.3;
    -webkit-transform: translateY(100%);
  }
}

@keyframes moveToBottomFade {
  from {
  }
  to {
    opacity: 0.3;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}

@-webkit-keyframes moveFromBottomFade {
  from {
    opacity: 0.3;
    -webkit-transform: translateY(100%);
  }
}

@keyframes moveFromBottomFade {
  from {
    opacity: 0.3;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}

/* SCALE AND FADE */
@-webkit-keyframes scaleDown {
  from {
  }
  to {
    opacity: 0;
    -webkit-transform: scale(0.8);
  }
}

@keyframes scaleDown {
  from {
  }
  to {
    opacity: 0;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}

@-webkit-keyframes scaleUp {
  from {
    opacity: 0;
    -webkit-transform: scale(0.8);
  }
}

@keyframes scaleUp {
  from {
    opacity: 0;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}

@-webkit-keyframes scaleUpDown {
  from {
    opacity: 0;
    -webkit-transform: scale(1.2);
  }
}

@keyframes scaleUpDown {
  from {
    opacity: 0;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@-webkit-keyframes scaleDownUp {
  from {
  }
  to {
    opacity: 0;
    -webkit-transform: scale(1.2);
  }
}

@keyframes scaleDownUp {
  from {
  }
  to {
    opacity: 0;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@-webkit-keyframes scaleDownCenter {
  from {
  }
  to {
    opacity: 0;
    -webkit-transform: scale(0.6);
  }
}

@keyframes scaleDownCenter {
  from {
  }
  to {
    opacity: 0;
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }
}

@-webkit-keyframes scaleUpCenter {
  from {
    opacity: 0;
    -webkit-transform: scale(0.6);
  }
}

@keyframes scaleUpCenter {
  from {
    opacity: 0;
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }
}

.cta-btn {
  width: calc(100% - 40px);
  background-color: #347cb1;
  color: #ffffff;
  font-size: 18px;
  border: 0;
  padding: 10px 15px;
  margin-top: 20px;
  text-decoration: none;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  cursor: pointer;
}

.cta-btn._hollow {
  background-color: transparent;
  border: 2px solid #347cb1;
}

.cta-btn._white {
  color: #222222;
  background-color: #ffffff;
  border: 1px solid #222222;
}

.pad-lr-20 {
  padding-right: 20px;
  padding-left: 20px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Fonts
   ========================================================================== */
@font-face {
  font-family: CustomFont;
  src: url("") format("woff"), url("") format("truetype");
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/*# sourceMappingURL=main.css.map */