.progress-bar {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  box-sizing: border-box;

  > .prog-start {
    width: 50px;
    height: 50px;
    background: url("../images/tent.svg") no-repeat center center;
    background-size: contain;
  }
  > .prog-marker {
    width: 100%;
    overflow: hidden;
    > .marker {
      width: 0;
      height: 4px;
      background: #347cb1;
      border-radius: 5px;
      -webkit-transition: width 600ms ease-out;
      transition: width 600ms ease-out;
    }
  }
  > .prog-end {
    width: 50px;
    height: 50px;
    background: url("../images/target.svg") no-repeat center center;
    background-size: contain;
  }
}

#question-wrapper,
#answer-wrapper {
  position: relative;
  @include full-auto;
  padding: 0 0 20px 0;
  box-sizing: border-box;

  > .card-wrapper {
    position: relative;
    width: 100%;
    height: 350px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    box-sizing: border-box;

    > .card,
    .final-card {
      position: absolute;
      width: 99%;
      height: 320px;
      margin: 10px auto;
      padding: 20px;
      font-size: 2em;
      line-height: 1.1;
      @include flex-column-center;
      border: 1px solid #ccc;
      border-radius: 0.3rem;
      box-shadow: 0 0.2rem 0.3rem 0 rgba(0, 0, 0, 0.3);
      box-sizing: border-box;
      background: #ffffff url("../images/compass-card.svg") no-repeat center
        center;
      background-size: contain;

      img {
        width: 100%;
        max-width: 250px;
        height: auto;
      }
    }
    .final-card {
      background: #ffffff;
      flex-direction: column;
    }
  }

  > .control-wrapper {
    @include full-auto;
    padding: 0;
    @include flex-row-center;
    justify-content: space-around;
    box-sizing: border-box;

    > .cta-btn {
      margin: 10px;
      border-radius: 5px;
    }
  }
}
